<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">发表于：{{ dateFormat "2006/1/2" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
			{{ if isset .Params "author" }}<div class="meta">作者：{{ .Params.author }}</div>{{ end }}
		</div>

		<div class="markdown">
			{{ .Content }}
		</div>

		<div class="cc">
			<p>由 SDUTACM 运维技术中心创作，采用 <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" target="_blank" ref="noopener noreferrer">CC BY-NC-ND 4.0</a> 协议。</p>
			<p>本文地址：<a href="{{ .Site.Params.baseURL }}{{ .Permalink | absURL }}">{{ .Site.Params.baseURL }}{{ .Permalink | absURL }}</a></p>
		</div>

		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if gt .Params.tags 0 }}
					<nav class="nav tags">
							<ul class="flat">
								{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
					</nav>
				{{ end }}
			{{ end }}
		</div>
		{{- $.Scratch.Set "isDisqus" true -}}

		<!-- Disable if content type is excluded in config -->
		{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- end -}}

		<!-- Check if content has flag to enable/disable disqus explicitly -->
		{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
		{{- $.Scratch.Set "isDisqus" true -}}
		{{- end -}}

		<!-- Check if disqus short name is given -->
		{{ if not .Site.DisqusShortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}

		{{- $.Scratch.Set "isUtterances" true -}}

		<!-- Disable if content type is excluded in config -->
		{{- if and (isset .Params "type") (in .Site.Params.disableCommentsTypes .Params.type) -}}
		{{- $.Scratch.Set "isUtterances" false -}}
		{{- end -}}

		<!-- Check if utterances repo is given -->
		{{ if not .Site.Params.utterancesRepo }}
		{{- $.Scratch.Set "isUtterances" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isUtterances") true -}}
		{{- partial "utterances.html" . -}}
		{{- end -}}
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
